<div class="steps-section" data-component="StepsSection">
	<div class="steps-section__inner">
		<h1>DBA Anywhere in 3 Easy Steps</h1>
		<div id="owl-steps-carousel2" class="owl-carousel owl-theme">
			<div class="item">
				<div class="step-1-ico"></div>
				<h2>Step 1</h2>
				<p>
					Sign up & start learning at your own pace, online, for free. Our courses pair videos with practical advice from entrepreneurs and hands-on tasks so you can practice what you’ve learnt. 
				</p>
			</div>
			<div class="item">
				<div class="step-2-ico"></div>
				<h2>Step 2</h2>
				<p>
					For each course you complete, you’ll earn a digital badge and certificate. Show these off on your Talent Zone profile page or share on social!
				</p>
			</div>
			<div class="item">
				<div class="step-3-ico"></div>
				<h2>Step 3</h2>
				<p>
					Our partners are offering rewards to DBA graduates, including internships, co-working space and discounts. The more courses you complete, the more rewards you can apply for.
				</p>
			</div>
		</div>
		<button class="steps-button">Start Today - It’s FREE</button>
	</div>
</div>
