.footer-section {
  @include cf;
  @include webfont(14px, $book);
  padding-bottom: 40px;
  background-color: $dba-dark;
  color: $dba-white;
  &__inner {
    
  }
  .footer-powered-by {
    @include col(10/12, $offset: 1/12);
    padding-top: 30px;
    color: #909090;
    text-align: center;
    img {
      margin-top: 10px;
      opacity: 0.5;
    }
  }
  .social-icons-list {
    @include cf;
    height: 120px;
    &__item {
      @include col(1/4);
      text-align: center;
      a {
        @include webfont(21px, $book);
        @include box-sizing(border-box);
        margin: 5px;
        line-height: 80px;
        display: inline-block;
        width: 80px;
        height: 80px;
        background-color: $dba-black;
        text-align: center;
      }
    }
  }
}

.footer-nav-container{
  background-color: #202020;
}

.footer-nav {
  @include cf;
  @include min-width;
  text-align: center;
  &__item {
    display: inline-block;
    a {
      @include webfont(17px, $book);
      display: block;
      padding: 20px 20px;
      color: $dba-white;
      &:hover {
        color: $dba-pink;
      }
      &.active {
        color: $dba-blue;
      }
    }
  }
}

.footer-content-section {
  @include cf;
  @include min-width;
}

.footer-nav-list-container {
  @include col(10/12, $offset: 1/12);
}
.footer-nav-list {
  padding-top: 50px;
  &__item {
    @include col(1/3);
    @include webfont(16px, $book);
    padding-bottom: 40px;
    float: left;
    &:nth-child(3n+2) {
      text-align: center;
    }
    &:nth-child(3n+3) {
      text-align: right;
    }
    a {
      color: $dba-white;
      &:hover {
        color: $dba-pink;
      }
    }
  }
}

.footer-subscribe-form {
  @include col(10/12, $offset: 1/12);
  @include box-sizing(border-box);
  
  &__label {
    @include webfont(21px, $book);
    display: block;
    padding-bottom: 15px;
    color: $dba-yellow;
    text-align: center;
  }
  &__input {
    @include global-input($padding-t-b: 27px, $padding-l-r: 27px, $b-radius: 3px, $bg-color: #454545, $font-size: 16px, $border-color: #454545, $color: #DDDDDD);
    width: 100%;
    height: 57px;
    margin-bottom: 30px;
    border: 1px solid;
  }
  &__button {
    @include global-button($padding-t-b: 15px, $padding-l-r: 18px, $b-radius: 3px, $bg-color: transparent, $font-size: 21px, $border-color: #fff, $color: #fff);
    width: 100%;
    height: 57px;
    margin-bottom: 30px;
    border: 1px solid;
  }
}

// Desktop
@include breakpoint($bp-desktop-and-up) {
  .footer-section {
    @include webfont(17px, $book);
    .footer-powered-by {
      @include col(2/12);
      padding-top: 130px;
      text-align: right;
    }
    .social-icons-list {
      @include cf;
      margin-top: -40px;
    }
  }

  .footer-nav {
    padding-left: 30px;
    &__item {
      float: left;
      display: inline-block;
      a {
        @include webfont(21px, $book);
        padding: 28px 30px;
      }
    }
  }

  .footer-nav-list-container {
    @include col(6.5/12);
  }

  .footer-nav-list {
    padding-top: 90px;
    padding-left: 40px;
    &__item {
      &:nth-child(3n+2) {
        text-align: left;
      }
      &:nth-child(3n+3) {
        text-align: left;
      }

    }
  }

  .footer-subscribe-form {
    @include col(3.5/12);
    padding-right: 10px;
    &__label {
      text-align: left;
    }
  }
}
