.main-menu {
    @include webfont(26px, $book);

    position: relative;

    display: none;

    background-color: #fff;
    &--active {
        display: block;
    }
    &__overlay {
      height:100vh;
      background-color: #fff;
    }
    &__navigation {
        @include full-width;
        @include min-width;

        position: absolute;
        top: 0;
        &-item {
            &__link {
                @include cf;

                display: block;

                padding-right: 20px;
                padding-left: 20px;

                color: $dba-gray;
                border-bottom: 1px solid #ccc;
                background-color: #fff;

                line-height: 57px;
                .fa-caret-right {
                    display: inline-block;
                }
                .fa-caret-down {
                    display: none;
                }
                &:hover {
                    color: #fff;
                    background-color: $dba-pink;
                }
                &--active {
                    color: #fff;
                    background-color: $dba-pink;
                    .fa-caret-right {
                        display: none;
                    }
                    .fa-caret-down {
                        display: inline-block;
                    }
                }
                .fa {
                    float: right;

                    line-height: 57px;
                }
            }
        }
    }
    &__sub-navigation {
        display: none;
        &--active {
            display: block;
        }
        &-item {
            &__link {
                @include full-width;
                @include box-sizing(border-box);

                display: block;

                height: 66px;
                padding-left: 40px;

                color: #fff;
                border-bottom: 1px solid $dba-submenu-border;
                background-color: $dba-submenu;

                line-height: 66px;
                &:hover {
                    color: #fff;
                    background-color: $dba-submenu-hover;
                }
            }
        }
    }
}

// Desktop
@include breakpoint($bp-desktop-and-up) {
    .main-menu {
        @include webfont(16px, $book);

        position: relative;

        display: block;
        &__overlay {
          display: none;
        }
        &__navigation {
            @include full-width;
            @include cf;

            position: relative;
            text-align: center;
            &-item {
                display: inline-block;
                &__link {
                    position: relative;

                    display: block;
                    float: none;

                    padding-right: 36px;
                    padding-left: 36px;

                    color: $dba-gray;
                    border-bottom: none;
                    background-color: #fff;

                    line-height: 81px;
                    i {
                        @include center-y;

                        right: 6px;

                        margin-right: 4px;
                    }
                    .fa-caret-right, .fa-caret-down {
                        display: none;
                    }

                    &:hover {
                        color: #fff;
                        background-color: $dba-pink;
                    }
                    .fa {
                        float: right;

                        margin-left: 15px;

                        line-height: 81px;
                    }
                    &--active {
                        position: relative;

                        color: #fff;
                        background-color: $dba-pink;
                    }
                }
            }
        }
        &__sub-navigation {
            position: absolute;

            display: none;
            text-align: left;

            &--active {
                display: block;
            }
            &-item {
                &__link {
                    @include full-width;
                    @include box-sizing(border-box);

                    display: block;

                    height: 66px;
                    padding-right: 42px;
                    padding-left: 42px;

                    color: #fff;
                    border-bottom: 1px solid $dba-submenu-border;
                    background-color: $dba-submenu;

                    line-height: 66px;
                    &:hover {
                        background-color: $dba-submenu-hover;
                    }
                }
            }
        }
    }
}
