.partners-section {
	@include cf;
	background-color: $dba-white;
	
	&__inner {
		@include cf;
		@include min-width;
		border: solid #F3F7F8 5px;
		background-color: #F3F7F8;
	}
	.partner-big-col {
		@include full-width;
		position: relative;
		height: 220px;
		overflow: hidden;
		img {
			width: 60%;
		}
	}
	.partner-small-col {
		@include col(1/2);
		position: relative;
		height: 50%;
		img {
			width: 40%;
		}
	}
	.partner-item {
		@include box-sizing(border-box);
		width: 100%;
		height: 100%;
		border: solid #F3F7F8 5px;
		&__block {
			display: table;
			width: 100%;
			height: 100%;	
			background-color: $dba-white;
			&.back {
				@include filter(grayscale(100%));
				@include filter(sepia(1));
				background-color: $dba-white;
			}
		}
		a {
			@include webfont(17px, $book);
			display: table-cell;
  		vertical-align: middle;
  		text-align: center;
		}
	}
}

// Desktop
@include breakpoint($bp-desktop-and-up) {
	.partners-section {
		.partner-big-col {
			@include col(1/2);
			height: 440px;
			img {
				width: 70%;
			}
		}
		.partner-small-col {
			@include col(1/3);
			img {
				width: 60%;
			}
		}
	}
}

.width-10 {
	width: 10% !important;
}
.width-20 {
	width: 20% !important;
}
.width-30 {
	width: 30% !important;
}
.width-40 {
	width: 40% !important;
}
.width-50 {
	width: 50% !important;
}
.width-60 {
	width: 60% !important;
}
.width-70 {
	width: 70% !important;
}
.width-80 {
	width: 80% !important;
}