<div class="courses-section" data-component="CoursesSection">
	<div class="courses-section__inner">
		<div class="courses-powered-by">Powered By</div>
		<h1><span>Check Out</span> Our Courses</h1>
		<div id="owl-main-carousel" class="owl-carousel owl-theme">
			<div class="item">
				<div class="item__header">
					<div class="front bg-blue2"> 
				    <div class="window-ico"></div>
						<h3>Digital Marketing</h3>
				  </div> 
				  <div class="back bg-gray">
				    <h2><a href="#">Start Now</a></h2>
				  </div> 
				</div>	 
				<div class="item__content">
					<span class="label bg-pink">USL</span>
					<span class="label bg-gray">centric</span>
					<p>From SEO to metrics to brand strategy - our marketing track gives you everything you need to run successful campaigns.</p>
					<button class="start-button">Start Now</button>
					<button class="more-button">More Info</button>
				</div>
			</div>
			<div class="item">
				<div class="item__header">
					<div class="front bg-green"> 
						<div class="pensil-ico"></div>
						<h3>Product Development</h3>
					</div>
					<div class="back bg-gray">
				    <h2><a href="#">Start Now</a></h2>
				  </div>
				</div>	 
				<div class="item__content">
					<span class="label bg-pink">USL</span>
					<span class="label bg-gray">centric</span>
					<p>From SEO to metrics to brand strategy - our marketing track gives you everything you need to run successful campaigns.</p>
					<button class="start-button">Start Now</button>
					<button class="more-button">More Info</button>
				</div>
			</div>
			<div class="item">
				<div class="item__header">
					<div class="front bg-blue">
						<div class="money-ico"></div>
						<h3>Finance For Digital</h3>
					</div>
					<div class="back bg-gray">
						<h2><a href="#">Start Now</a></h2>
					</div>
				</div>
				<div class="item__content">
					<span class="label bg-pink">USL</span>
					<span class="label bg-gray">centric</span>
					<p>From SEO to metrics to brand strategy - our marketing track gives you everything you need to run successful campaigns.</p>
					<button class="start-button">Start Now</button>
					<button class="more-button">More Info</button>
				</div>
			</div>
		</div>
		<!-- <div class="customNavigation">
		  <a class="btn prev">Previous</a>
		  <a class="btn next">Next</a>
		  <a class="btn play">Autoplay</a>
		  <a class="btn stop">Stop</a>
		</div> -->
	</div>
</div>
