<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Digital Business Academy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="js/lib/modernizr.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>
    <div class="page-container
    <% if(
        typeof options != 'undefined' &&
        options.page != {} &&
        typeof options.page != 'undefined' &&
        options.page != ''
    ) { %>
        <%= options.page %>
    <% } %>
    ">
