<div class="map-component" data-component="MapComponent">
  <div id="map-canvas"></div>
  <div class="map-component__achivments">
  <div class="map-component__achivments-slider">
      <ul class="map-component__achivments-list" id="verticalCarousel">
        <li class="map-component__achivments-item map-component__achivments-item--color1" data-city='Reading'>
          <i class="map-component__achivments-icon map-component__achivments-icon--icon1"></i>
          <a class="map-component__achivments-text" class="map-component__achivments-text" href="">Anna (member 16,765) from <span class="city">Reading</span> signed up
          </a>
        </li>
        <li class="map-component__achivments-item map-component__achivments-item--color2" data-city='Birmingham'>
          <i class="map-component__achivments-icon map-component__achivments-icon--icon2"></i>
          <a class="map-component__achivments-text" href="">Liam (member 16,766) from <span class="city">Birmingham</span> completed Run a digital marketing campaign
          </a>
        </li>
        <li class="map-component__achivments-item map-component__achivments-item--color3" data-city='Manchester'>
          <i class="map-component__achivments-icon map-component__achivments-icon--icon3"></i>
          <a class="map-component__achivments-text" href="">Jerome (member 435) from <span class="city">Manchester</span> earned a mentoring session with Tech City UK
          </a>
        </li>
        <li class="map-component__achivments-item map-component__achivments-item--color4" data-city='Aberdeen'>
          <i class="map-component__achivments-icon map-component__achivments-icon--icon4"></i>
          <a class="map-component__achivments-text" href="">Ying Xu (member 5,674) from <span class="city">Aberdeen</span> completed all 8 DBA courses
          </a>
        </li>
        <li class="map-component__achivments-item map-component__achivments-item--color3" data-city='Birmingham'>
          <i class="map-component__achivments-icon map-component__achivments-icon--icon3"></i>
          <a class="map-component__achivments-text" href="">Liam (member 16,766) from <span class="city">Birmingham</span> completed Run a digital marketing campaign
          </a>
        </li>
        <li class="map-component__achivments-item map-component__achivments-item--color2" data-city='Manchester'>
          <i class="map-component__achivments-icon map-component__achivments-icon--icon5"></i>
          <a class="map-component__achivments-text" href="">
            Jerome (member 435) from <span class="city">Manchester</span> earned a mentoring session with Tech City UK
          </a>
        </li>
        <li class="map-component__achivments-item map-component__achivments-item--color4" data-city='Aberdeen'>
          <i class="map-component__achivments-icon map-component__achivments-icon--icon4"></i>
          <a class="map-component__achivments-text" href="">Ying Xu (member 5,674) from <span class="city">Aberdeen</span> completed all 8 DBA courses
          </a>
        </li>
        <li class="map-component__achivments-item map-component__achivments-item--color2" data-city='Manchester'>
          <i class="map-component__achivments-icon map-component__achivments-icon--icon5"></i>
          <a class="map-component__achivments-text" href="">Jerome (member 435) from <span class="city">Manchester</span> earned a mentoring session with Tech City UK
          </a>
        </li>
        <li class="map-component__achivments-item map-component__achivments-item--color3" data-city='Birmingham'>
          <i class="map-component__achivments-icon map-component__achivments-icon--icon3"></i>
          <a class="map-component__achivments-text" href="">Liam (member 16,766) from <span class="city">Birmingham</span> completed Run a digital marketing campaign
          </a>
        </li>
      </ul>
      <div class="fade-item"></div>
    </div>
  </div>
</div>
