.main-header {
    @include box-sizing(border-box);
    @include cf;

    &__inner {
        @include min-width;
    }
    
    padding-right: 30px;
    padding-left: 30px;

    color: #fff;
    background-color: $dba-blue;
    &__button {
        @include global-button;
        &:hover {
          background-color: #3ED4EB;
        }
    }
    &__logo {
        display: none;
        &-img-wrapper {
            display: inline-block;

            margin-top: 16px;
            margin-bottom: 16px;
        }
        &--mobile {
            width: 39px;
            height: 44px;
        }
    }
    &__tech-city-logo {
        width: 42px;
        height: 26px;
        margin-top: 26px;
        margin-bottom: 26px;
        &-img-wrapper {
            display: inline-block;
            float: right;

            margin-right: 25px;
        }
    }
    &__burger-btn-wrapper {
        display: inline-block;
        float: right;
        margin-top: 24px;
    }
    &__burger-btn {
      background-color: transparent;
      border: none;
    }
    &__button {
        display: none;
    }
    &__welcome {
        display: none;
    }
    .fa-search {
        color: #fff;
    }
    .fa-bars {
        color: #fff;

        font-size: 28px;
    }
}

// Desktop
@include breakpoint($bp-desktop-and-up) {
    .main-header {
        position: relative;
        height: 152px;
        &__button {
            display: inline-block;
            float: right;

            margin-top: 56px;
            margin-right: 40px;
        }
        &__welcome {
            display: inline-block;
            float: right;
            @include webfont(16px, $book);

            margin-top: 72px;
            margin-right: 40px;
            a {
              color: #fff;
              &:hover {
                color: $dba-pink;
              }
            }
        }
        &__burger-btn-wrapper {
            display: none;
        }
        &__tech-city-logo {
            width: 65px;
            height: 40px;
            margin: 0;
            &-img-wrapper {
                margin-top: 64px;
            }
        }
        &__logo {
            display: inline-block;
            &-img-wrapper {
              margin-top: 19px;
              margin-bottom: 19px;
            }
            &--mobile {
                display: none;
            }
        }
    }
}
