// Font-Face

// Book
@font-face {
    font-family: 'CircularStd';
    src:
        url('../fonts/CircularStd-Book.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
        url('../fonts/CircularStd-Book.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-weight: 300;
    font-style: normal;
}

// Book-Italic
@font-face {
    font-family: 'CircularStd';
    src:
        url('../fonts/CircularStd-BookItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
        url('../fonts/CircularStd-BookItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-weight: 300;
    font-style: italic;
}

// Medium
@font-face {
    font-family: 'CircularStd';
    src:
        url('../fonts/CircularStd-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
        url('../fonts/CircularStd-Book-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-weight: 400;
    font-style: normal;
}

// Medium-Italic
@font-face {
    font-family: 'CircularStd';
    src:
        url('../fonts/CircularStd-MediumItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
        url('../fonts/CircularStd-Book-MediumIalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-weight: 400;
    font-style: normal;
}

// Bold
@font-face {
    font-family: 'CircularStd';
    src:
        url('../fonts/CircularStd-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
        url('../fonts/CircularStd-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-weight: 700;
    font-style: normal;
}

// Bold Italic
@font-face {
    font-family: 'CircularStd';
    src:
        url('../fonts/CircularStd-BoldItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
        url('../fonts/CircularStd-BoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-weight: 700;
    font-style: italic;
}
