// General Styles
html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; // RB - fixes FF rendering webfonts bolder than other browsers
    height: 100%;
    background-color: #F3F7F8;
    color: $dba-gray;
    @include webfont(16px, $book);
}

a {
    text-decoration: none;
    color: $dba-blue;
    &:hover {
        color: $dba-pink;
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

h1 {
    @include webfont(32px, $bold);
    @include breakpoint($bp-desktop-and-up) {
        @include webfont(42px, $bold);
    }
}

h2 {
    @include webfont(27px, $bold);
}

h3 {
    @include webfont(22px, $bold);
}

p {
    line-height: 130%;
}

ul, nav {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

input[type=text]::-ms-clear {
    display: none;
}

input[type="search"], input[type="text"], input[type="submit"] {
    @include box-sizing(border-box);

    //Resets
    @include experimental(appearance, none);

    // //Hiding IE clear input field button X
    &::-ms-clear {
        display: none;
    }
}

input[type="text"], input[type="submit"] {
    @include border-radius(0px);
}

.page-container {
    @include full-width;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.clear {
    @include cf;
}

.bold {
    font-weight: $bold;
}

.text-decoration-none {
    text-decoration: none;
} 

//Hiding select arrow in ie
select::-ms-expand {
    display: none;
}
