/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */

// first we'll define the folders where the sprites are and their layouts
$icons: sprite-map("icons/*.png", $spacing: 50px);
$icons-2x: sprite-map("icons-2x/*.png", $spacing: 100px);

//Sprite mixin, works perfectly with standard defines
@mixin use-sprite($sprite, $bg-size: auto) {
    background-color: transparent;
    background-image: sprite-url($icons);
    background-position: sprite-position($icons, $sprite);
    background-repeat: no-repeat;

    @include breakpoint($bp-retina) {
        background-image: sprite-url($icons-2x);
        background-size: (image-width(sprite-path($icons-2x)) / 2) (image-height(sprite-path($icons-2x)) / 2);
        background-position: round(nth(sprite-position($icons-2x, $sprite), 1) / 2) round(nth(sprite-position($icons-2x, $sprite), 2) / 2);
    }

    // contain crops the sprite to it's image dimensions, use when used in pseudo element like :before or
    @if $bg-size == contain {
        overflow: hidden;
        display: block;
        height: image-height(sprite-file($icons, $sprite));
        width: image-width(sprite-file($icons, $sprite));

        @include breakpoint($bp-retina) {
            height: image-height(sprite-file($icons-2x, $sprite)) / 2;
            width: image-width(sprite-file($icons-2x, $sprite)) / 2;
        }
    }
}

// Font awesome

.fa-linkedin {
    color: $dba-white;
    height: 100px !important;
    display: block;
}

.fa-google-plus {
    color: #EB4040 !important;
}

.fa-twitter {
    color: #85D3FF; 
}

.fa-facebook {
    color: #4A90E2;
}


