//------------------------------------
//    VARS.SCSS
//------------------------------------

//------------------------------------
//    BREAKPOINTS
//------------------------------------
// @768
// 9 columns
// max width: 729
// column width: 65
// gutter: 18px

// @1024
// 12 columns
// max width: 978
// column width: 65
// gutter: 18px

// @1280
// 12 columns
// max width: 1171
// column width: 82
// gutter: 18px
$bp-tablet:                max-width 1023px;          // 0 - 1023
$bp-tablet-and-desktop:    0 1279px;                  // 0 - 1279
$bp-desktop:               1024px 1279px;             // 1024 - 1279
$bp-desktop-and-up:        1024px;                    // 1024 - ∞
$bp-desktop-large:         1280px;                    // 1280 - ∞
$bp-retina:                min-resolution 1.5dppx;    // retina screens
$bp-form:                  873px 768px;

//------------------------------------
//    FONTS
//------------------------------------
$circular:       "CircularStd", "Myriad Pro", "Trebuchet MS", Ubuntu, sans-serif;
$book:      300;
$medium:    400;
$bold:       700;
$italic:     italic;

//------------------------------------
//    COLORS
//------------------------------------
// Common Colors
$dba-white: #ffffff;
$dba-black: #000000;
$dba-yellow: #FFF500;
$dba-yellow2: #f5a623;
$dba-blue: #39C2D7;
$dba-blue2: #4A90E2;
$dba-pink: #E20177;
$dba-green: #9CD05E;
$dba-gray: #666666;
$dba-dark: #131313;

.dba-blue {
  color: $dba-blue;
}
.bg-blue {
  background-color: $dba-blue; 
}
.bg-blue2 {
  background-color: $dba-blue2; 
}
.dba-pink {
  color: $dba-pink
}
.bg-pink {
  background-color: $dba-pink; 
}
.bg-green {
  background-color: $dba-green; 
}
.bg-gray {
  background-color: $dba-gray; 
}

//Main menu -> Submenu
$dba-submenu: #4A4A4A;
$dba-submenu-hover: #555;
$dba-submenu-border: #404040;

// Brand Specific Colors


// Outline color on focus

$default-text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);

//------------------------------------
//    EXTRAS
//------------------------------------

// Font awesome no vars but ...

.fa-linkedin {
    color: $dba-white;
    height: 100px !important;
    display: block;
}

.fa-google-plus {
    color: #EB4040 !important;
}

.fa-twitter {
    color: #85D3FF; 
}

.fa-facebook {
    color: #4A90E2;
}



