#map-canvas {
    display: none;
}

#verticalCarousel {
    position: relative;

    overflow: hidden;
}

.map-component {
    @include min-width;
    @include cf;
    &__achivments {
        @include col(11/12, $offset: 0.5/12);
        position: relative;

        overflow: hidden;

        margin-bottom: 20px;

        &-icon {
            @include center-y;

            left: 20px;

            float: left;

            width: 28px;
            height: 31px;
            &--icon1 {
                background-image: url('../../../img/icon1.svg');
            }
            &--icon2 {
                background-image: url('../../../img/icon2.svg');
            }
            &--icon3 {
                width: 26px;
                height: 39px;

                background-image: url('../../../img/icon3.svg');
            }
            &--icon4 {
                width: 31px;
                height: 32px;

                background-image: url('../../../img/icon4.svg');
            }
            &--icon5 {
                background-image: url('../../../img/icon5.svg');
            }
            &--icon6 {
                background-image: url('../../../img/icon6.svg');
            }
        }

        &-list {
        }

        &-item {
            @include cf;

            position: relative;

            width: 100% !important;
            // max-height: 84px;
            margin-bottom: 16px;
            &--color1 {
                background-color: $dba-blue;
            }
            &--color2 {
                background-color: $dba-yellow2;
            }
            &--color3 {
                background-color: $dba-pink;
            }
            &--color4 {
                background-color: $dba-blue2;
            }
        }

        &-text {
            @include box-sizing(border-box);

            display: block;

            height: 84px;
            margin-left: 70px;
            padding-top: 10px;
            padding-right: 20px;
            padding-bottom: 10px;
            padding-left: 20px;

            color: $dba-gray;
            background-color: $dba-white;

            overflow: hidden;
            .city {
                color: $dba-blue;
            }
        }
    }
}

// Desktop
@include breakpoint($bp-desktop-and-up) {
    .fade-item {
        @include background-image(linear-gradient(rgba(0, 0, 0, 0), #b3d1ff));

        position: absolute;
        bottom: 0;

        width: 100%;
        max-width: 664px;
        height: 200px;
    }
    .map-component {
        position: relative;

        clear: both;
        &__achivments {

            z-index: 1;
            @include center-y;

            margin-top: 0px;
            margin-bottom: 0px;

            &-icon {
                @include center-y;

                left: 20px;

                float: left;

                width: 28px;
                height: 31px;
                &--icon1 {
                    background-image: url('../../../img/icon1.svg');
                }
                &--icon2 {
                    background-image: url('../../../img/icon2.svg');
                }
                &--icon3 {
                    width: 26px;
                    height: 39px;

                    background-image: url('../../../img/icon3.svg');
                }
                &--icon4 {
                    width: 31px;
                    height: 32px;

                    background-image: url('../../../img/icon4.svg');
                }
                &--icon5 {
                    background-image: url('../../../img/icon5.svg');
                }
                &--icon6 {
                    background-image: url('../../../img/icon6.svg');
                }
            }

            &-list {
                max-width: 664px;
            }

            &-item {
                @include cf;

                position: relative;

                width: 100%;
                margin-bottom: 16px;
                &--color1 {
                    background-color: #39c2d7;
                }
                &--color2 {
                    background-color: #f5a623;
                }
                &--color3 {
                    background-color: #e20177;
                }
                &--color4 {
                    background-color: #4a90e2;
                }
            }

            &-text {
                @include box-sizing(border-box);

                display: block;

                margin-left: 70px;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 20px;

                background-color: #fff;
                .city {
                    color: $dba-blue;
                }
            }
        }
    }
    #map-canvas {
        display: block;

        width: 100%;
        height: 887px;
    }

    #verticalCarousel {
        position: relative;

        overflow: hidden;
    }
}
