.hero-section {
	@include full-width;
	@include cf;
	padding-top: 44px;
	padding-bottom: 30px;
	&__inner {
		@include min-width;
		text-align: center;
	}
	&__inner-content {
		@include col(10/12, $offset: 1/12);
	}
	&-img-block {
		@include full-width;
		padding-bottom: 20px;
		img {
			width: 246px;
			height: 175px
		}
	}
	&-text {
		@include webfont(24px, $book);
		line-height: 44px;
	}
	.enroll-button {
		@include global-button($padding-t-b: 20px, $padding-l-r: 48px, $b-radius: 8px, $bg-color: $dba-pink, $font-size: 27px, $border-color: $dba-pink, $color: #fff);
	}
	.view-button {
		@include global-button($padding-t-b: 20px, $padding-l-r: 48px, $b-radius: 8px, $bg-color: transparent, $font-size: 21px, $border-color: transparent, $color: $dba-gray);
		display: none;
	}
}

// Desktop
@include breakpoint($bp-desktop-and-up) {
	.hero-section {
		padding-top: 100px;
		padding-bottom: 80px;
		&-img-block {
			display: none;
		}
		&-text {
			@include webfont(45px, $book);
			line-height: 60px;
		}
		.view-button {
			display: inline-block;
		}
		a {
	        text-decoration: underline;
	    }
	}
}
