/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */

$jeet-gutter:           0      !default;
$jeet-parent-first:     false  !default;
$jeet-layout-direction: "LTR"  !default;
$jeet-max-width:        1170px  !default;
