<div class="main-header" data-component="MainHeader">
  <div class="main-header__inner">
    <div class="main-header__logo-img-wrapper">
      <a href="#">
        <img  alt="DBA Logo" class="main-header__logo--mobile" src="../../img/dba_logo_mobile.svg"/>
        <img  alt="DBA Logo" class="main-header__logo" src="../../img/dba_logo.svg"/>
      </a>
    </div>
    <div class="main-header__burger-btn-wrapper">
      <button class="main-header__burger-btn" name="button" type="button">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="main-header__tech-city-logo-img-wrapper">
      <a class="main-header__tech-city-link" href="#"><img  alt="Tech City Logo" class="main-header__tech-city-logo" src="../../img/tech_city_logo.svg"/></a>
    </div>
    <div class="main-header__welcome"><a href="#">Hi, Matthew</a></div>
    <button class="main-header__button" href="#">My Dashboard</button>
  </div>
</div>
