.video-section {
    @include min-width;
    @include box-shadow(rgba(0, 0, 0, 0.3) 0px 1px 1px);
    position: relative;
    margin-bottom: 50px; 
    background-color: #fff;
    overflow: hidden;
    .owl-item, .item {
        background-color: $dba-white;
    }
    &__video-inner {
        position: relative;
    }
    &__inner {
        @include box-sizing(border-box);
        padding: 40px;
    }
    &__navigation {
        @include cf;

        z-index: 100;

        position: absolute;
        top: 0;

        display: block;

        width: 100%;
        button {
            width: 53px;
            height: 53px;

            color: #fff;
            border: none;

            font-size: 32px;
            &:hover {
                //background-color: $dba-submenu-hover;
            }
        }
        &__right {
            float: right;

            background-image: url('../../../img/arrow.svg');
            background-size: 100% 100%;
        }
        &__left {
            @include transform(rotate(-180deg));

            float: left;

            background-image: url('../../../img/arrow.svg');
            background-size: 100% 100%;
        }
    }
    &__thumbnail {
        width: 100%;
        &-description {
            @include box-sizing(border-box);
            @include webfont(17px, $book);

            position: absolute;
            bottom: 0;

            display: block;

            width: 100%;
            padding: 20px 40px;

            color: #fff;
            background: rgba(0, 0, 0, 0.5);
        }
    }
    &__play-btn {
        @include center-xy;

        z-index: 100;

        display: block;

        width: 60px;
        height: 45px;

        border: 0;
        background-color: transparent;
        background-image: url('../../../img/video_play_btn.svg');
        background-size: 100% 100%;

        fill: red;
    }
    &__article {
        @include webfont(18px, $book);
        line-height: 32px;
        margin-bottom: 30px;
        &-info {
            @include webfont(17px, $book);
            &__name {
                color: #e20177;

                font-weight: bold;
            }
        }
    }
}

// Tablet and Desktop
@include breakpoint($bp-tablet-and-desktop) {
    .video-section {
        &__article {
            font-size: 18px !important;
            line-height: 32px !important;
            height: 100px !important;
            overflow-y: scroll;
        }
    }
}

// Desktop
@include breakpoint($bp-desktop-and-up) {
    .video-section {
        @include cf;
        margin-bottom: 100px; 

        &__video-inner {
            @include col(6/12, $gutter: 0);
        }
        &__inner {
            @include col(6/12);
            padding: 60px;
            padding-bottom: 0;
        }
        &__article {
            @include webfont(21px, $book);
            height: 220px;
            line-height: 42px;
            overflow-y: scroll;
        }
        &__play-btn {
            
            width: 100px;
            height: 71px;

        }
        &__navigation {
        
        }
        &__thumbnail {
            &-header {
            }
            &-description {
                
            }
        }
    }
}
