<div class="video-section owl-carousel owl-theme" id="owl-main-carousel3"  data-component="VideoSection">
  <div class="item">
    <div class="video-section__video-inner">
      <div class="video-section__navigation">
        <button class="video-section__navigation__left" name="left" type="button">
          
        </button>
        <button class="video-section__navigation__right" name="right" type="button">

        </button>
      </div>
      <button class="video-section__play-btn" type="button" name="button"></button>
      <img  alt="Video Thumbnail" class="video-section__thumbnail" src="../../img/video_tumb_mobile.jpg"/>
      <div class="video-section__thumbnail-description">
        Mr Hipster Earned: <span class="dba-blue">Digital Marketing, Finance for Digital </span>
      </div>
    </div>
    <div class="video-section__inner">
      <h1>Join Digital Business?</h1>
      <p class="video-section__article">
        “Graduating from university didn’t help me get a job. But after taking the Run a digital marketing campaign course through the DBA, I was fasttracked to an interview with Twitter. I’m happy to say I’m now working in their partnerships department - all because of the DBA.”
      </p>
      <p class="video-section__article-info">
        <span class="video-section__article-info__name">Mr Hipster</span> - The Smug Baker Ltd, <i class="fa fa-map-marker dba-blue"></i> London N16
      </p>
    </div>
  </div>
  <div class="item">
    <div class="video-section__video-inner">
      <div class="video-section__navigation">
        <button class="video-section__navigation__left" name="left" type="button">
          
        </button>
        <button class="video-section__navigation__right" name="right" type="button">

        </button>
      </div>
      <button class="video-section__play-btn" type="button" name="button"></button>
      <img  alt="Video Thumbnail" class="video-section__thumbnail" src="../../img/video_tumb_mobile2.jpg"/>
      <div class="video-section__thumbnail-description">
        Mr Hipster Earned: <span class="dba-blue">Finance for Digital </span>
      </div>
    </div>
    <div class="video-section__inner">
      <h1>Finance for Business!</h1>
      <p class="video-section__article">
        “Graduating from university didn’t help me get a job. But after taking the Run a digital. I’m happy to say I’m now working in their partnerships department - all because of the DBA.”
      </p>
      <p class="video-section__article-info">
        <span class="video-section__article-info__name">Mr Hipster</span> - The Smug Baker Ltd, <i class="fa fa-map-marker dba-blue"></i> London N16
      </p>
    </div>
  </div>
  <!-- <div class="video-section__video-inner">
    <div class="video-section__navigation">
      <button class="video-section__navigation__left" name="left" type="button">
        
      </button>
      <button class="video-section__navigation__right" name="right" type="button">

      </button>
    </div>
    <button class="video-section__play-btn" type="button" name="button"></button>
    <img  alt="Video Thumbnail" class="video-section__thumbnail" src="../../img/video_tumb_mobile.jpg"/>
    <div class="video-section__thumbnail-description">
      Mr Hipster Earned: <span class="dba-blue">Digital Marketing, Finance for Digital </span>
    </div>
  </div>
  <div class="video-section__inner">
    <h1>Join Digital Business?</h1>
    <p class="video-section__article">
      “Graduating from university didn’t help me get a job. But after taking the Run a digital marketing campaign course through the DBA, I was fasttracked to an interview with Twitter. I’m happy to say I’m now working in their partnerships department - all because of the DBA.”
    </p>
    <p class="video-section__article-info">
      <span class="video-section__article-info__name">Mr Hipster</span> - The Smug Baker Ltd, <i class="fa fa-map-marker dba-blue"></i> London N16
    </p>
  </div> -->
</div>
