.steps-section {
	@include cf;
	&__inner {
		@include col(10/12, $offset: 1/12);
	}
	padding-bottom: 50px;
	text-align: center;
	.steps-button {
		@include global-button($padding-t-b: 15px, $padding-l-r: 35px, $b-radius: 4px, $bg-color: $dba-blue, $font-size: 27px, $border-color: $dba-blue, $color: #fff);
	}
}

#owl-steps-carousel2 {
	@include cf;
	.item{
		margin-right: 15px;
		margin-left: 15px;
		margin-bottom: 35px;
		p {
			line-height: 28px;
		}
	}
}

// Desktop
@include breakpoint($bp-desktop-and-up) {
	.steps-section {
		@include min-width;
		padding-bottom: 90px;
		&__inner {
			overflow: hidden;
		}
	}
	#owl-steps-carousel2 {
		@include cf;
		.item{
			margin-right: 35px;
			margin-left: 35px;
		}
	}
}

// icons
.step-1-ico {
	width: 100%;
	height: 272px;
	margin: 36px auto 26px;
	background-image: url('../../../img/step_1.svg');
  background-size: 100% 100%;
}

.step-2-ico {
	width: 100%;
	height: 272px;
	margin: 36px auto 26px;
	background-image: url('../../../img/step_2.svg');
  background-size: 100% 100%;
}

.step-3-ico {
	width: 100%;
	height: 272px;
	margin: 36px auto 26px;
	background-image: url('../../../img/step_3.svg');
  background-size: 100% 100%;
}
