<div class="hero-section" data-component="HeroSection">
	<div class="hero-section__inner">
		<div class="hero-section__inner-content">
			<div class="hero-section-img-block">
				<img src="img/dba_logo_big.svg" alt="">
			</div>
			<p class="hero-section-text">
				Join 16,000 people and learn the skills you need to <a href="#" class="bold">start</a>, <a href="#" class="bold">grow</a> or <a href="#" class="bold">join</a> a digital business – for <a href="#" class="bold text-decoration-none dba-pink">free</a>.
			</p>
			<button class="enroll-button">
				Enroll Today
			</button>
			<button class="view-button">
				View All Courses
			</button>
		</div>
	</div>
</div>
