<nav class="main-menu" data-component="MainMenu">
  <div class="main-menu__overlay"></div>
    <ul class="main-menu__navigation">
        <li class="main-menu__navigation-item">
            <a class="main-menu__navigation-item__link" href="#">How it works
                <i class="fa fa-caret-right"></i>
                <i class="fa fa-caret-down"></i>
            </a>
            <nav class="main-menu__sub-navigation">
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About the DBA Programme</a>
                </li>
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About DBA</a>
                </li>
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About TCUK</a>
                </li>
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">Contact DBA</a>
                </li>
            </nav>
        </li>
        <li class="main-menu__navigation-item">
            <a class="main-menu__navigation-item__link" href="#">Courses
              <i class="fa fa-caret-right"></i>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="main-menu__sub-navigation">
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About the DBA Programme</a>
                </li>
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About DBA</a>
                </li>
            </ul>
        </li>
        <li class="main-menu__navigation-item">
            <a class="main-menu__navigation-item__link" href="#">Rewards
              <i class="fa fa-caret-right"></i>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="main-menu__sub-navigation">
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About the DBA Programme</a>
                </li>
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About DBA</a>
                </li>
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About TCUK</a>
                </li>
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">Contact DBA</a>
                </li>
            </ul>
        </li>
        <li class="main-menu__navigation-item">
            <a class="main-menu__navigation-item__link" href="#">Community
              <i class="fa fa-caret-right"></i>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="main-menu__sub-navigation">
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About the DBA Programme</a>
                </li>
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About DBA</a>
                </li>
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About TCUK</a>
                </li>
            </ul>
        </li>
        <li class="main-menu__navigation-item">
            <a class="main-menu__navigation-item__link" href="#">Support
              <i class="fa fa-caret-right"></i>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="main-menu__sub-navigation">
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About the DBA Programme</a>
                </li>
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About DBA</a>
                </li>
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About TCUK</a>
                </li>
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">Contact DBA</a>
                </li>
            </ul>
        </li>
        <li class="main-menu__navigation-item">
            <a class="main-menu__navigation-item__link" href="#">Partners
              <i class="fa fa-caret-right"></i>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="main-menu__sub-navigation">
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About the DBA Programme</a>
                </li>
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About DBA</a>
                </li>
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">About TCUK</a>
                </li>
                <li class="main-menu__sub-navigation-item">
                    <a class="main-menu__sub-navigation-item__link" href="#">Contact DBA</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
