<footer class="footer-section">
  <div class="footer-section__inner">
    <div class="footer-nav-container">
      <nav class="footer-nav">
        <li class="footer-nav__item"><a href="#" class="active">About</a></li>
        <li class="footer-nav__item"><a href="#">Press</a></li>
        <li class="footer-nav__item"><a href="#">Contact</a></li>
        <li class="footer-nav__item"><a href="#">Courses</a></li>
        <li class="footer-nav__item"><a href="#">Blog</a></li>
        <li class="footer-nav__item"><a href="#">FAQ’s</a></li>
      </nav>
    </div>
    <div class="footer-content-section">
      <div class="footer-powered-by">
        <div>Powered By</div>
        <a href="#">
          <img src="../../img/ucl-ico-white.svg" alt="">
        </a>
      </div>
      <div class="footer-nav-list-container">
        <ul class="footer-nav-list">
          <li class="footer-nav-list__item"><a href="#">Talent zone</a></li>
          <li class="footer-nav-list__item"><a href="#">Privacy Policy</a></li>
          <li class="footer-nav-list__item"><a href="#">Content Partners</a></li>
          <li class="footer-nav-list__item"><a href="#">Rewards</a></li>
          <li class="footer-nav-list__item"><a href="#">Cookies Policy</a></li>
          <li class="footer-nav-list__item"><a href="#">Rewards Partners</a></li>
          <li class="footer-nav-list__item"><a href="#">Internships / Jobs</a></li>
          <li class="footer-nav-list__item"><a href="#">T&C’s</a></li>
          <li class="footer-nav-list__item"><a href="#">International Licensing</a></li>
        </ul>
      </div>
      <form class="footer-subscribe-form">
        <ul class="social-icons-list">
          <li class="social-icons-list__item"><a href="#">
            <i class="fa fa-linkedin"></i>
          </a></li>
          <li class="social-icons-list__item"><a href="#">
            <i class="fa fa-google-plus"></i>
          </a></li>
          <li class="social-icons-list__item"><a href="#">
            <i class="fa fa-twitter"></i>
          </a></li>
          <li class="social-icons-list__item"><a href="#">
            <i class="fa fa-facebook"></i>
          </a></li>
        </ul>
        <label class="footer-subscribe-form__label">Get the Latest News</label>
        <input type="email" placeholder="email@example.com" class="footer-subscribe-form__input">
        <button class="footer-subscribe-form__button">Subscribe</button>
      </form>
    </div>
  </div>
</footer>