.courses-section {
	@include cf;
	float: none;
	margin-bottom: 40px;
	.courses-powered-by {
		display: none;
	}
	h1 {
		clear: both;
		text-align: center;
		span {
			display: none
		}
	}
	.start-button {
		@include global-button($padding-t-b: 15px, $padding-l-r: 25px, $b-radius: 8px, $bg-color: transparent, $font-size: 17px, $border-color: $dba-blue, $color: $dba-blue);
	}
	.more-button {
		@include global-button($padding-t-b: 15px, $padding-l-r: 25px, $b-radius: 8px, $bg-color: transparent, $font-size: 14px, $border-color: transparent, $color: $dba-gray);
	}
	.label {
		@include border-radius(2px);
		@include webfont(11px, $bold);
		line-height: 11px;
		display: inline-block;
		margin-bottom: 15px;
		padding: 3px 8px;
		color: #fff;
	}
}

#owl-main-carousel {
	.item{
		@include border-radius(6px);
		@include box-shadow(rgba(0, 0, 0, 0.3) 0px 1px 1px);
		min-height: 440px;
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 20px;
		background: #fff;
		overflow: hidden;
		&__header {
			height: 190px !important;
      color: #fff;
			text-align: center;
		}
		.front,.back {
			@include box-sizing(border-box);
			@include border-top-left-radius(6px);
			@include border-top-right-radius(6px);
			height: 190px !important;
			padding-top: 50px;
		}
		.back {
			padding-top: 80px;
		}
		&__content {
			padding: 20px 30px;
			p {
				line-height: 26px;
			}
		}
	}
}

@include breakpoint($bp-tablet-and-desktop) {
	.courses-section {
		@include col(11/12, $offset: 0.5/12);
		@include cf;
		float: none;	
	}
}


// Desktop @include min-width;
@include breakpoint($bp-desktop-and-up) {
	.courses-section {
		@include min-width;
		margin-bottom: 70px;
		padding-top: 50px;
		padding-bottom: 30px;
		background-color: #fff;
		overflow: hidden;
		&__inner {
			@include col(11/12, $offset: 0.5/12);
			overflow: hidden;
		}
		.courses-powered-by {
			@include webfont(14px, $book);
			display: inline;
			float: right;
			margin-right: 10px;
			padding-right: 75px;
			background-image: url('../../../img/ucl-ico.svg');
  		background-position: 100% 0;
  		background-repeat: no-repeat;
  		opacity: 0.4;
			color: #000;
		}
		h1 {
			span {
				display: inline;
			}
		}
	}
}

// icons
.window-ico {
	position: relative;
	width: 80px;
	height: 62px;
	margin: 0 auto 10px;
	background-image: url('../../../img/window-ico.svg');
  background-size: 100% 100%;
}

.pensil-ico {
	position: relative;
	width: 62px;
	height: 62px;
	margin: 0 auto 10px;
	left: 10px;
	background-image: url('../../../img/pensil-ico.svg');
  background-size: 100% 100%;
}

.money-ico {
	position: relative;
	width: 93px;
	height: 62px;
	margin: 0 auto 10px;
	right: 10px;
	background-image: url('../../../img/money-ico.svg');
  background-size: 100% 100%;
}