<div class="partners-section" data-component="PartnersComponent">
	<div class="partners-section__inner">
		<div class="partner-big-col">
			<div class="partner-item">
				<div class="front partner-item__block">
					<a href="#">
						<h2>Our Course Partners:</h2>
						<img src="img/cambridge.svg" alt="">
					</a>
				</div>
			  <div class="back partner-item__block">
					<a href="#">
						<h2>Our Course Partners:</h2>
						<img src="img/cambridge.svg" alt="">
					</a>
			  </div> 
			</div>
		</div>
		<div class="partner-big-col">
			<div class="partner-small-col">
				<div class="partner-item">
					<div class="front partner-item__block">
						<a href="#"><img src="img/valuablecontent.svg" alt=""></a>
					</div>
				  <div class="back partner-item__block">
				    <a href="#"><img src="img/valuablecontent.svg" alt=""></a>
				  </div> 
				</div>
			</div>
			<div class="partner-small-col">
				<div class="partner-item">
					<div class="front partner-item__block">
						<a href="#"><img src="img/techcity.svg" alt=""></a>
					</div>
				  <div class="back partner-item__block">
				    <a href="#"><img src="img/techcity.svg" alt=""></a>
				  </div> 
				</div>
			</div>
			<div class="partner-small-col">
				<div class="partner-item">
					<div class="front partner-item__block">
						<a href="#"><img src="img/foundercentric.svg" alt=""></a>
					</div>
				  <div class="back partner-item__block">
				    <a href="#"><img src="img/foundercentric.svg" alt=""></a>
				  </div> 
				</div>
			</div>
			<div class="partner-small-col">
				<div class="partner-item">
					<div class="front partner-item__block">
						<a href="#"><img src="img/uсl.svg" alt=""></a>
					</div>
				  <div class="back partner-item__block">
				    <a href="#"><img src="img/uсl.svg" alt=""></a>
				  </div> 
				</div>
			</div>
			<div class="partner-small-col">
				<div class="partner-item">
					<div class="front partner-item__block">
						<a href="#"><img src="img/cambridge.svg" alt=""></a>
					</div>
				  <div class="back partner-item__block">
				    <a href="#"><img src="img/cambridge.svg" alt=""></a>
				  </div> 
				</div>
			</div>
			<div class="partner-small-col">
				<div class="partner-item">
					<div class="front partner-item__block">
						<a href="#">Become a<br>Content Partner</a>
					</div>
				  <div class="back partner-item__block">
				    <a href="#">Become a<br>Content Partner</a>
				  </div> 
				</div>
			</div>
		</div>
		<div class="partner-big-col">
			<div class="partner-small-col">
				<div class="partner-item">
					<div class="front partner-item__block">
						<a href="#"><img src="img/decoded.svg" alt=""></a>
					</div>
				  <div class="back partner-item__block">
				    <a href="#"><img src="img/decoded.svg" alt=""></a>
				  </div> 
				</div>
			</div>
			<div class="partner-small-col">
				<div class="partner-item">
					<div class="front partner-item__block">
						<a href="#"><img src="img/hackney.svg" alt=""></a>
					</div>
				  <div class="back partner-item__block">
				    <a href="#"><img src="img/hackney.svg" alt=""></a>
				  </div> 
				</div>
			</div>
			<div class="partner-small-col">
				<div class="partner-item">
					<div class="front partner-item__block">
						<a href="#"><img src="img/incubus.svg" alt=""></a>
					</div>
				  <div class="back partner-item__block">
				    <a href="#"><img src="img/incubus.svg" alt=""></a>
				  </div> 
				</div>
			</div>
			<div class="partner-small-col">
				<div class="partner-item">
					<div class="front partner-item__block">
						<a href="#"><img src="img/ogilvy.svg" alt=""></a>
					</div>
				  <div class="back partner-item__block">
				    <a href="#"><img src="img/ogilvy.svg" alt=""></a>
				  </div> 
				</div>
			</div>
			<div class="partner-small-col">
				<div class="partner-item">
					<div class="front partner-item__block">
						<a href="#"><img src="img/startupbootcamp.svg" alt=""></a>
					</div>
				  <div class="back partner-item__block">
				    <a href="#"><img src="img/startupbootcamp.svg" alt=""></a>
				  </div> 
				</div>
			</div>
			<div class="partner-small-col">
				<div class="partner-item">
					<div class="front partner-item__block">
						<a href="#"><img src="img/hootsuite.svg" alt=""></a>
					</div>
				  <div class="back partner-item__block">
				    <a href="#"><img src="img/hootsuite.svg" alt=""></a>
				  </div> 
				</div>
			</div>
		</div>
		<div class="partner-big-col">
			<div class="partner-item">
				<div class="front partner-item__block">
					<a href="#">
						<h2>Our Featured Reward Partners</h2>
						<img class="width-20" src="img/general-assembly-logo.svg" alt="">
					</a>
				</div>
			  <div class="back partner-item__block">
					<a href="#">
						<h2>Our Featured Reward Partners</h2>
						<img class="width-20" src="img/general-assembly-logo.svg" alt="">
					</a>
			  </div> 
			</div>
		</div>
	</div>
</div>