<% include ../../components/global-head/global-head %>

<% include ../../components/main_header/main_header.ejs %>
<% include ../../components/main_menu/main_menu.ejs %>
<% include ../../components/hero_section/hero_section.ejs %>
<% include ../../components/courses_section/courses_section.ejs %>
<% include ../../components/video_section/video_section.ejs %>
<% include ../../components/steps_section/steps_section.ejs %>
<% include ../../components/map_component/map_component.ejs %>
<% include ../../components/partners_component/partners_component.ejs %>
<% include ../../components/footer_component/footer_component.ejs %>

<% include ../../components/global-foot/global-foot %>
