<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>CTCO Redesign - Template Listing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="css/main.css">
    <style>
    .page-list {
    padding: 40px;
    }
    .page-list a {
    color: #008fb0;
    display: inline-block;
    }
    .page-list h1 {
    margin: 0;
    margin-bottom: 40px;
    }
    .page-list table {
    line-height: 200%;
    margin-bottom: 40px;
    width: 50%;
    }
    .page-list table th,
    .page-list table td {
    padding: 0;
    text-align: left;
    }
    .page-list table td {
    padding: 0 30px;
    }
    </style>
</head>
<body>
    <!-- Place to put links to various pages -->
    <div class="page-list">
        <h1>Template Listing</h1>
        <div>
            Build Date: <span id="build-date"></span>
            <br><br>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Home</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="home.html" target="_blank">Home Page</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
